* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainHeader {
  height: 50px;
  display: flex;
  border: 1px solid #ccc;
}

/* a.returnMain {
   background-color: rebeccapurple; 
} */
i.fa.fa-chevron-left {
  padding: 20px;
  transition: 0.3s;
  &:hover {
    background-color: #00000011;
    cursor: pointer;
  }
}

div.layoutHead {
  /* border: 1px solid #ccc; */
  position: absolute; /* 절대 위치 설정 */
  left: 50%; /* 부모 요소의 왼쪽에서 50% 떨어진 위치로 설정 */
  transform: translateX(-50%) translateY(50%); /* 자기 자신의 너비의 50% 만큼 왼쪽으로 이동, 가운데 정렬 효과 */
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
footer.ad {
  border: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mainHeader,
footer.ad {
  min-height: 60px;
}
