extends ../layout

block content
  link(rel="stylesheet", href="/css/shopmemo.css")
  link(rel="stylesheet", href="/css/thema/shop_thema.css")
  script(src="/js/setting/setting_thema.js")
  script(src="/js/shopmemo.js")
  div.main
    div.listbox
      table.cartlist
        tbody 
          if (USER && USER.length > 0)
            each info in USER
              tr 
                td.u_seq= info.u_seq
          if (RANKING && RANKING.length > 0) 
            each score in RANKING 
              tr
                td.s_score= score.s_score 

                
