extends ../layout

block content
  link(rel="stylesheet", href="/css/rank.css")
  //- link(rel="stylesheet", href="/css/thema/shop_thema.css")
  //- script(src="/js/setting/setting_thema.js")
  //- script(src="/js/shopmemo.js")
  div.main
    div.listbox
      table.cartlist
        tbody 
          tr 
            th 등수
            th 닉네임
            th 점수
          if (USERS && USERS.length > 0)
            each info, index in USERS
              tr 
                td.seq= index + 1
                td.u_name= info.u_name
                td.u_best= info.u_best
