extends layout

block content
  script(src="/js/home.js")
  link(rel="stylesheet", href="/css/home.css")
  div.home
    img(src="/images/home.png", alt="dsf", id="mainImage")
  div.btn_box
    div.shop 밥주기
    div.start 쓰다듬기
