extends layout2

block content
  link(rel="stylesheet", href="/css/ham.css")
  script(src="/js/ham.js")
  header.mainHeader
  div.titles
    div.navContain
      nav.ham 
        ul.hamList
          li.cancleHam x
          li.info 정보
          li.achieve 업적
          li.rank 랭킹
          li.setting 설정
    div.titleContain
      img.titleImg(src="/images/title.png")
    div.navContain
  div.btn_box
    div.shop 상점
    div.start 모험떠나기
    div.home 아지트

