extends layout2

block content
  script(src="/js/ham.js")
  div.mainTitle
    //- 여기에 타이틀이미지 들어감
  nav.ham 
    ul 
      li.cancleHam x
      li.info 내정보
      li.achieve 업적
      li.rank 랭킹
      li.setting 설정
